<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.com.taruc.fitnesscompanion">

    <uses-sdk android:targetSdkVersion="7" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1682339881994052"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".LoginPage"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".SignUpPage"
            android:label="@string/title_activity_sign_up_page"></activity>
        <activity
            android:name=".UI.MainMenu"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.AchievementMenu"
            android:label="@string/title_activity_achievement_menu"></activity>

        <activity
            android:name=".UI.ExercisePage"
            android:label="@string/title_activity_exercise_menu"></activity>

        <fragment
            android:name=".UserProfilePage"
            android:label="@string/title_activity_user_profile_page"></fragment>

        <activity
            android:name=".UI.ProfilePage"
            android:label="@string/title_activity_screen_slide_pager"
            android:windowSoftInputMode="stateHidden"></activity>

        <fragment
            android:name=".HealthProfilePage"
            android:label="@string/title_activity_health_profile_page"></fragment>

        <activity
            android:name=".UI.MetalPage"
            android:label="@string/title_activity_metal_page"></activity>

        <activity
            android:name=".UI.HistoryPage"
            android:label="@string/title_activity_history_page"></activity>

        <activity
            android:name=".UI.RankingPage"
            android:label="@string/title_activity_ranking_page"></activity>

        <activity
            android:name=".UI.GoalPage"
            android:label="@string/title_activity_goal_page"></activity>

        <activity
            android:name=".UI.SchedulePage"
            android:label="@string/title_activity_schedule_page"></activity>

        <activity
            android:name=".UI.ScheduleNewPage"
            android:label="@string/title_activity_schedule_new_page"></activity>

        <activity
            android:name=".UI.FriendsPage"
            android:label="@string/title_activity_friends_page"></activity>

        <activity
            android:name=".ForgetPassword"
            android:label="@string/title_activity_forget_password" />

        <activity
            android:name=".HRStripBLE.DeviceScanActivity"
            android:label="@string/title_activity_HRStrip" />

        <activity
            android:name=".Graph.MyGraphView"
            android:label="MyGraphView" />

        <activity
            android:name=".HeartRateCamera.HeartRateMonitor"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_heart_rate_monitor"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UI.SchedulePauseAlarm"
            android:label="@string/title_activity_schedule_pause_alarm"></activity>

        <service
            android:name=".BackgroundSensor.TheService"
            android:enabled="true"></service>

        <service
            android:name=".BackgroundSensor.AccelerometerSensor"
            android:enabled="true"></service>

        <receiver android:name=".Reminder.AlarmService.MyReceiver" />
        <service android:name=".Reminder.AlarmService.MyAlarmService" />
    </application>

</manifest>
